<div class="text-center">
  <main class="form-signin">
    <form #addForm="ngForm" (ngSubmit)="login(addForm)">
      <h1 class="h3 mb-3 fw-normal">Zaloguj się</h1>
      <div class="form-floating">
        <input type="text" ngModel name="username" class="form-control" id="username" placeholder="Username" required>
        <label for="username">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" ngModel name="password" class="form-control" id="password" placeholder="Password"
               required>
        <label for="password">Password</label>
      </div>
      <div class="modal-footer">
        <button [disabled]="addForm.invalid" class="w-100 btn btn-lg btn-primary" type="submit">Zaloguj</button>
      </div>
    </form>

  <div class="modal-body">
    <a routerLink="/register" class="w-100 btn btn-lg btn-primary" routerLinkActive="active">Rejestracja</a>
  </div>
  </main>
</div>
