<main class="container" id="main-container">
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <button class="pb-6 mb-0" data-bs-toggle="modal" data-bs-target="#createWallet">Dodaj portfel</button>
    <h6 class="border-bottom pb-2 mb-0">Portfele</h6>
    <div *ngFor="let wallet of wallets">
      <div class="d-flex flex-column text-muted pt-3">
        <a class="" routerLink="/wallet/{{wallet.id}}]">
          <p class="pb-3 mb-0 bd-highlight small lh-sm border-bottom">
            <strong class="d-block text-gray-dark">{{wallet.name}}</strong>
            {{wallet.description}}
          </p>
        </a>
        <button (click)="onOpenModal(wallet)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Edytuj
        </button>
      </div>
    </div>
  </div>
</main>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edytuj</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel="{{walletEdit?.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
          </div>
          <input type="hidden" ngModel="{{walletEdit?.id}}" name="id" class="form-control" id="id" placeholder="Email">
          <div class="form-group">
            <label for="description">Opis</label>
            <input type="text" ngModel="{{walletEdit?.description}}" name="description" class="form-control" id="description" placeholder="Opis">
          </div>
          <div class="modal-footer">
            <button (click)="onUpdateWallet(editForm.value)" data-bs-dismiss="modal" class="btn btn-primary" >Zapisz</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Anuluj</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createWallet" tabindex="-1" aria-labelledby="createWallet" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Edytuj</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #createForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text"  name="name" ngModel class="form-control"  aria-describedby="emailHelp" placeholder="Name">
          </div>
          <input type="hidden" name="id" ngModel class="form-control">
          <div class="form-group">
            <label for="description">Opis</label>
            <input type="text" ngModel  name="description" class="form-control" placeholder="Opis">
          </div>
          <div class="modal-footer">
            <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Anuluj</button>
            <button (click)="onCreateWallet(createForm.value)" data-bs-dismiss="modal" class="btn btn-primary" >Zapisz</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
