<div class="text-center">
  <main class="form-signin">
    <form #addForm="ngForm" (ngSubmit)="register(addForm)">
      <h1 class="h3 mb-3 fw-normal">Rejestracja</h1>
      <div class="form-floating">
        <input type="text"  ngModel name="username" class="form-control" id="username" placeholder="Username" required>
        <label for="username">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" ngModel name="password" class="form-control" id="password" placeholder="Password" required>
        <label for="password">Hasło</label>
      </div>
      <div class="form-floating">
        <input type="email" ngModel name="email" class="form-control" id="email" placeholder="email" required>
        <label for="email">Email</label>
      </div>
      <div class="form-floating">
        <input type="text" ngModel name="firstName" class="form-control" id="firstName" placeholder="firstName" required>
        <label for="firstName">Imie</label>
      </div>
      <div class="form-floating">
        <input type="text" ngModel name="lastName" class="form-control" id="lastName" placeholder="lastName" required>
        <label for="lastName">Nazwisko</label>
      </div>
      <div *ngIf="signup">
        <p class="text-danger">Email jest niepoprawny lub nazwę użytkownika jest używana</p>
      </div>
      <div class="modal-footer">
        <button [disabled]="addForm.invalid" class="w-100 btn btn-lg btn-primary" type="submit">Zarejestruj się</button>
      </div>
    </form>

    <a routerLink="/login" class="w-100 btn btn-lg btn-primary" routerLinkActive="active">Zaloguj się</a>
  </main>
</div>
